blockquote._80p5{font-style:normal}
._6ijr{background-color:#f2f3f5;padding:7px 7px 6px 11px}._6ijr ._6ijs{background-color:#fff}

#bootloader_EEIol{height:42px;}.bootloader_EEIol{display:block!important;}