._5vr-{color:#42b72a}
.sp_kdaHYUjVy9i_1_5x{background-image:url(/rsrc.php/v3/yk/r/fhLB1FOCOn0.png);background-size:26px 62px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_kdaHYUjVy9i_1_5x.sx_abe39f{width:24px;height:24px;background-position:0 0}.sp_kdaHYUjVy9i_1_5x.sx_70bc6c{background-position:0 -26px}.sp_kdaHYUjVy9i_1_5x.sx_c860a5{background-position:0 -44px}

#bootloader_c1Bsj{height:42px;}.bootloader_c1Bsj{display:block!important;}